**/.DS_Store
# Archivos de configuración de IntelliJ IDEA
/Users/jhonierriascoszapata/Documents/Dev/Curses/Python/.idea/inspectionProfiles/profiles_settings.xml
/Users/jhonierriascoszapata/Documents/Dev/Curses/Python/.idea/inspectionProfiles/Project_Default.xml
/Users/jhonierriascoszapata/Documents/Dev/Curses/Python/.idea/misc.xml
/Users/jhonierriascoszapata/Documents/Dev/Curses/Python/.idea/vcs.xml
/Users/jhonierriascoszapata/Documents/Dev/Curses/Python/.idea/workspace.xml
